# Single quotes stop docker compose from interpolating "$" in a value
COPYPARTY_URL='http://copyparty:3923'
COPYPARTY_PASSWORD='{{ vault_copyparty_photos_pass }}'
HUB_PASSWORD='{{ vault_pics_password }}'
HUB_SECRET_KEY='{{ vault_pics_secret_key }}'
HUB_PUBLIC_URL='{{ pics_public_url }}'
{% if pics_artist %}
HUB_ARTIST='{{ pics_artist }}'
{% endif %}
{% if pics_watermark_text %}
HUB_WATERMARK_TEXT='{{ pics_watermark_text }}'
{% endif %}
{% if vault_pics_alert_urls | default('') %}
HUB_ALERT_URLS='{{ vault_pics_alert_urls }}'
{% endif %}
