# Paths backed up to cloud (Google Drive) by backup-restic-cloud.sh.
# One path per line. $USER and ~ are expanded at runtime.
{{ main_drive }}/docker/gitea
{{ main_drive }}/docker/copyparty_config
/home/{{ ansible_user }}/.config/rclone
/home/{{ ansible_user }}/.restic-password
{{ nas_base_dir }}
