# Paths backed up to cloud (Google Drive) by backup-restic-cloud.sh.
# One path per line. $USER and ~ are expanded at runtime.
{{ gitea_data_dir }}
{{ copyparty_config_dir }}
/home/{{ ansible_user }}/.config/rclone
{{ restic_password_file }}
{{ nas_base_dir }}
