metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"

db_engine = "lmdb"

replication_factor = {{ garage_replication_factor | default(1) }}

[rpc_bind_addr]
# Listen on all interfaces inside the container
addr = "0.0.0.0:{{ garage_rpc_port | default(3901) }}"

rpc_secret = "{{ vault_garage_rpc_secret }}"

[s3_api]
s3_region = "garage"
api_bind_addr = "0.0.0.0:{{ garage_s3_port | default(3900) }}"
root_domain = ".s3.garage"

[s3_web]
bind_addr = "0.0.0.0:{{ garage_web_port | default(3902) }}"
root_domain = ".web.garage"
index = "index.html"

[admin]
api_bind_addr = "0.0.0.0:{{ garage_admin_port | default(3903) }}"
