networks:
  nas-services:
    external: true

services:
  copyparty:
    build: .
    container_name: copyparty
    restart: unless-stopped
    volumes:
      - {{ copyparty_files_dir }}:/files:rw
      - {{ copyparty_config_dir }}:/cfg:rw
      - {{ host_mnt_dir | default('/mnt') }}:/host/mnt:ro,rslave
{% if copyparty_collab_dir is defined and copyparty_collab_dir %}
      - {{ copyparty_collab_dir }}:/collab:rw
{% endif %}
    environment:
      TZ: {{ timezone }}
    ports:
      - "3923:3923"
    networks:
      - nas-services
